html {
    font-size: 14px;
}


@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}


.table-c {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.table-t {
    max-width: 800px;
    background-color: #f8f9fa;
    table-layout: fixed;
    border: 1px solid black;
}

    .table-t td,
    .table-t th {
        padding: 8px;
        text-align: left;
        max-width: 100px;
        text-overflow: ellipsis;
        border: 1px solid black;
    }

        .table-t td input {
            width: 100%;
            box-sizing: border-box;
            background-color: #f1dfca;
        }

.fixed-header {
    top: 0;
    background-color: #805AD5;
    color: aliceblue;
}




.date-font {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.body-bg {
    background-color: #EDE4FF;
}

.swal2-confirm {
    margin-left: 20px;
}

.swal2-cancel {
    margin-right: 20px;
}

.inactive-row {
    background-color: #6c757d;
    opacity: 60%;
}


.tippp {
    position: relative;
    display: inline-block;
}

    .tippp .tooltiptext {
        visibility: hidden;
        width: 200px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 0%;
        margin-left: -60px;
        opacity: 0;
        transition: opacity 0.3s;
    }

        .tippp .tooltiptext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        }

    .tippp:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }

.container {
    border-radius: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 800px;
    max-width: 900px;
}

.col-4.deneme {
    font-size: 20px;
    font-family: 'Yu Gothic UI';
}

.search-container {
    display: flex;
    align-items: center;
    border: 2px solid black;
    border-radius: 30px;
    padding: 5px;
}


    .search-container input[type="text"] {
        border: none;
        outline: none;
        background: transparent;
        margin-right: 5px;
        width: 90%;
    }

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #805AD5;
    border-color: #805AD5;
}

.page-item:first-child .page-link {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #805AD5;
    border-color: #805AD5;
}

.page-item:first-child .page-link {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #805AD5;
    border-color: #805AD5;
}

.page-item:first-child .page-link {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #805AD5;
    border-color: #805AD5;
}
