@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Grocery List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.rtl.css" rel="stylesheet" />
	<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="/sweetalert/sweetalert2.css" rel="stylesheet" />
    <link href="~/sweetalert/sweetalert2.min.css" rel="stylesheet"/>
	
    
   

    
    </head>
<body>
    <div class="container p-5" style="background-color: #84bb84; color: white; text-align: center;">
        <h1>Grocery List</h1>
    </div>

    <div class="table-div">
        @RenderBody()
    </div>
</body>
</html>